*.toDelete
output/**
*.class
*~
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
build/
tmp_deb_control/
tmp_rpm_control/
tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
pom.xml.versionsBackup
.DS_Store
**/.gradle
**/local.properties
**/build
**/target
**/Californium.properties
**/.env
.instance_id

dao/src/main/resources/sql/schema-entities\.sql~HEAD

*.java~HEAD

application/src/test/java/org/thingsboard/server/controller/nosql/EntityViewControllerNoSqlTest\.java~upstream_release-2\.0

application/src/test/java/org/thingsboard/server/controller/sql/EntityViewControllerSqlTest\.java~upstream_release-2\.0

application/src/test/java/org/thingsboard/server/mqtt/DbConfigurationTestRule\.java~upstream_release-2\.0

application/src/test/java/org/thingsboard/server/rules/flow/nosql/RuleEngineFlowNoSqlIntegrationTest\.java~upstream_release-2\.0

application/src/test/java/org/thingsboard/server/rules/flow/sql/RuleEngineFlowSqlIntegrationTest\.java~upstream_release-2\.0

application/src/test/java/org/thingsboard/server/rules/lifecycle/nosql/RuleEngineLifecycleNoSqlIntegrationTest\.java~upstream_release-2\.0

rule-engine/rule-engine-api/src/main/java/org/thingsboard/rule/engine/api/TbNodeState\.java~upstream_release-2\.0

rule-engine/rule-engine-components/src/main/java/org/thingsboard/rule/engine/data/RelationsQuery\.java~upstream_release-2\.0

rule-engine/rule-engine-components/src/main/java/org/thingsboard/rule/engine/telemetry/TelemetryNodeCallback\.java~HEAD_0

rule-engine/rule-engine-components/src/main/java/org/thingsboard/rule/engine/telemetry/TelemetryNodeCallback\.java~upstream_release-2\.0

rule-engine/rule-engine-components/src/main/java/org/thingsboard/rule/engine/telemetry/TelemetryNodeCallback\.java~upstream_release-2\.0_0
